<h2>FAQ</h2>

<em>"POV" may be more appropriate, but who's the one talking here?</em>

<dl>
  <dt>Why does this website look like it was made before I was born?</dt>
  <dd>Listen here you little sh**, maybe the internet was better <em>before</em> you were born. You ever think of that?</dd>
  <dt>I'm too old for the above joke to hit, but I have the same question</dt>
  <dd>A programming maxim made popular by Donald Knuth but originally spoken by Sir Tony Hoare is that "premature optimization is the root of all evil" - in short, I didn't want to make anything that wasn't needed. Also, this site doesn't need JavaScript to operate, which some might say is more secure, for whatever that's worth. But - let's think about that quote for a second - it was in the context of computer programming, but wouldn't it make more sense in the context of the corporate security industrial complex, if not the military industrial complex as a whole? And with specific, precision targeted memetic reference to just the "bad" parts of those institutions?</dd>
  <dt>How is this site anonymous?</dt>
  <dd>There's no sign in required. We do track your IP address but that's it. We recommend you use a VPN as a result if you're concerned about your privacy at that level.</dd>
  <dt>Without a sign in, won't that invite bots and spam traffic?</dt>
  <dd>With a sign in, would I be able to prevent that? It's true, both mitigating traffic from bots and spam will have to be a battle slowly faught via the ancient, spiritual art of content moderation. There's a system for flagging and suspicious content will be looked at with increased elevation in accordance to flags -- though we are of course aware that can be gamed as well. If we see any automated behavior tracked to the same IP, we will ban that IP. At any rate, the content on this website -- be it from an AI or an actual human, truthful or untruthful -- is meant to be up to interpretation.</dd>
  <dt>Is Initek a real company? Is it supposed to be from that movie?</dt>
  <dd>I think we should have fun sometimes. No it's not a real comapny, but I needed some seed data so I authored those posts. I encourage others to submit their own works of fiction as well. I think that's fun.</dd>
  <dt>You think this is fun? What're you, some kind of sicko?</dt>
  <dd>I have a theory that as a society is introduced to new technologies, we best learn them through play. Unfortunately, this is also possibly true for the tecnology of surveillance. It's why I added a specific category for immaturity in the post. Sting wrote a whole song about guns and playing around, Johnny Cash covered it. I don't think there's anyway to address this problem without also looking at the immaturity it may allow - and in fact conceal - without also allowing for a bit of immaturity as well.</dd>
  <dt>Oh, so you're so mature, more mature than your bosses I bet, is that it?</dt>
  <dd>Certainly not, if maturity allows for more responsibility, particularly of other people, then count me out. That said, a society can't mature if only a certain percent of the population can act as though the truth isn't as naked as it is. You could say this website hopes to be society's proverbial child pointing out the tiny, shriveled, semi working apparatus that is in fact not hidden in any robes, imperial or empirical, and thus a conversation, however awkward, may be necessary. I'm certainly ashamed to admit to the presence of any inner child, as is any well employed adult in this world -- thus I think this is a conversation best left for anonymity.</dd>
  <dt>I dunno, sounds pretty typical -- you disrespect authority, you don't like hierarchy, you think you're a rebel - I get it, I do.</dt>
  <dd>I wish we could have ended with a question there. That said, I think we need to have some compassion for the people caught in the middle of managing this situation. One day you're an engineer, your boss says you should be a manager because you're "good with the nerds, you know?" and then the next day, you're working from home because of COVID and now you're actively surveilling the "nerds" every utterance while pretending their mic is muted on the conference call, or something, I don't know. I think we should take a moment to have compassion for all the would be leaders whom are now spies to an unknown army caught in a nerdy, impossible mission to the heart of dorkness, all without any training, and all for only 10-15% more pay.</dd>
  <dt>OK -- so you're a wannabe whistleblower with nothing to say, that's it then?</dt>
  <dd>We actually don't think this site is for whistleblowing -- that's better off in the hands of journalists willing to stake their careers on such an activity in pursuit of an objective, empirical result. This isn't quite that; but it's not quite staying silent either.</dd>
  <dt>We, I, we, I -- which one are you? Are there multiple people here or just one?</dt>
  <dd>Yes. We'll consider revealing my identity if this thing somehow makes enough money for me to support all of us with. Otherwise I'm politely and personally requesting you don't dox us. I mean, me. We mean, I.</dd>
  <dt>Why are you tracking IP addresses?</dt>
  <dd>It's the only mitigation against spam and bots. We recommend the use of a VPN if you're worried about privacy on that level.</dd>
  <dt>How else can you make this more "open" of a concept while keeping it's anonymity?</dt>
  <dd>If this takes off, I'll probably make the code public and open source (though read only because I don't need you code snobs telling me to add Nest.js or ActionCable or something). I'll also try and setup public database backups, or a static version of the site available for download.</dd>
</dl>
