<h2>The Rules</h2>

<em>Failure to follow the rules will result in posts being stricken from the site. Repeated failure by the same IP address will result in an IP ban.</em>
<ol>
  <li>Don't incriminate yourself or your employer; if your situation is in a legal scope seek legal advisement, not a website. Otherwise your words are as open to interpretation as you make them.</li>
  <li>Don't post anything NSFW (not safe for work) -- that's kind of the point here!</li>
  <li>We recommend you keep personal names and all PII out of it, and will take down the post on a case by case basis for this reason. Job titles exist for a reason; heavy weighs the crown indeed.</li>
  <li>Hate speech is bad -- no discriminatory language. Or anything weird. This is supposed to be about work!</li>
  <li><strong>Remember that at least two mega corps essentially have unfetterred access to this database</strong> -- at the time of writing Heroku, owned by Salesforce, will be the choice of server provider for both web servers and our PostgreSQL datbase -- all via AWS, Amazon's Web Services. We recommend using a VPN as a result. The server may be subject to change but we recommend you keep this in mind when authoring content.</li>
  <li>Remember that if we take a post down, that doesn't mean we're removing it from the database.</li>
  <li>All writes to our database will include the user's IP and browser information. Again, we recommend you use a VPN at any rate. We're doing this for the purposes of bot tracking and spam blocking, but, act accordingly.</li>
  <li>These rules are subject to change at any time, and retroactive content decisions will be made as necessary.</li>
</ol>
