<h3>New post</h3>

<p><em>Limit 3 per IP address every 3 weeks</em></p>
<p><strong style="color: red">WARNING</strong>: <em>Once you've submitted the form, that's it -- there's no way to delete data.</em></p>
<p><em>Please read our <a href="/rules">rules</a> before posting.</em></p>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to companies", root_path %>
</div>
